
		<div class="section-2-REGNEW">
			<div class="cont-86-REGNEW">
				<div class="cont-87-REGNEW">
					<div class="cont-88-REGNEW">
						<div class="cont-89-REGNEW"><p class="para-24-REGNEW"><span class="font-27-REGNEW">VENDOR</span><span class="font-28-REGNEW">&nbsp;REGISTRATION</span></p></div>
					</div>
				</div>
				<div class="cont-90-REGNEW">
					<div class="colwrapper-45-REGNEW">
						<div class="cont-91-REGNEW">
							<div class="cont-92-REGNEW"><p class="para-25-REGNEW"><span class="font-29-REGNEW">Name:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-46-REGNEW">
						<div class="cont-93-REGNEW">
							<input type="text" name="text" class="input-21-REGNEW">
						</div>
					</div>
					<div class="colwrapper-47-REGNEW">
						<div class="cont-94-REGNEW">
							<div class="cont-95-REGNEW"><p class="para-26-REGNEW"><span class="font-30-REGNEW">Address:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-48-REGNEW">
						<div class="cont-96-REGNEW">
							<input type="text" name="text" class="input-22-REGNEW">
						</div>
					</div>
				</div>
				<div class="cont-97-REGNEW">
					<div class="colwrapper-49-REGNEW">
						<div class="cont-98-REGNEW">
							<div class="cont-99-REGNEW"><p class="para-27-REGNEW"><span class="font-31-REGNEW">Account #:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-50-REGNEW">
						<div class="cont-100-REGNEW">
							<input type="text" name="text" class="input-23-REGNEW">
						</div>
					</div>
					<div class="colwrapper-51-REGNEW">
						<div class="cont-101-REGNEW"></div>
					</div>
					<div class="colwrapper-52-REGNEW">
						<div class="cont-102-REGNEW">
							<div class="cont-103-REGNEW"><p class="para-28-REGNEW"><span class="font-32-REGNEW">State:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-53-REGNEW">
						<div class="cont-104-REGNEW">
							<input type="text" name="text" class="input-24-REGNEW">
						</div>
					</div>
				</div>
				<div class="cont-105-REGNEW">
					<div class="colwrapper-54-REGNEW">
						<div class="cont-106-REGNEW">
							<div class="cont-107-REGNEW"><p class="para-29-REGNEW"><span class="font-33-REGNEW">Contact</span></p></div>
						</div>
					</div>
					<div class="colwrapper-55-REGNEW">
						<div class="cont-108-REGNEW">
							<input type="text" name="text" class="input-25-REGNEW">
						</div>
					</div>
					<div class="colwrapper-56-REGNEW">
						<div class="cont-109-REGNEW">
							<div class="cont-110-REGNEW"><p class="para-30-REGNEW"><span class="font-34-REGNEW">Country:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-57-REGNEW">
						<div class="cont-111-REGNEW">
							<input type="text" name="text" class="input-26-REGNEW">
						</div>
					</div>
				</div>
				<div class="cont-112-REGNEW">
					<div class="colwrapper-58-REGNEW">
						<div class="cont-113-REGNEW">
							<div class="cont-114-REGNEW"><p class="para-31-REGNEW"><span class="font-35-REGNEW">TEL:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-59-REGNEW">
						<div class="cont-115-REGNEW">
							<input type="text" name="text" class="input-27-REGNEW">
						</div>
					</div>
					<div class="colwrapper-60-REGNEW">
						<div class="cont-116-REGNEW">
							<div class="cont-117-REGNEW"><p class="para-32-REGNEW"><span class="font-36-REGNEW">Zip Code:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-61-REGNEW">
						<div class="cont-118-REGNEW">
							<input type="text" name="text" class="input-28-REGNEW">
						</div>
					</div>
				</div>
				<div class="cont-119-REGNEW">
					<div class="colwrapper-62-REGNEW">
						<div class="cont-120-REGNEW">
							<div class="cont-121-REGNEW"><p class="para-33-REGNEW"><span class="font-37-REGNEW">CEL:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-63-REGNEW">
						<div class="cont-122-REGNEW">
							<input type="text" name="text" class="input-29-REGNEW">
						</div>
					</div>
					<div class="colwrapper-64-REGNEW">
						<div class="cont-123-REGNEW">
							<div class="cont-124-REGNEW"><p class="para-34-REGNEW"><span class="font-38-REGNEW">Website:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-65-REGNEW">
						<div class="cont-125-REGNEW">
							<input type="text" name="text" class="input-30-REGNEW">
						</div>
					</div>
				</div>
				<div class="cont-126-REGNEW">
					<div class="colwrapper-66-REGNEW">
						<div class="cont-127-REGNEW">
							<div class="cont-128-REGNEW"><p class="para-35-REGNEW"><span class="font-39-REGNEW">Email:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-67-REGNEW">
						<div class="cont-129-REGNEW">
							<input type="text" name="text" class="input-31-REGNEW">
						</div>
					</div>
				</div>
				<div class="cont-130-REGNEW">
					<div class="colwrapper-68-REGNEW">
						<div class="cont-131-REGNEW">
							<a class="button-3-REGNEW" href="index.html">Cancel</a>
						</div>
					</div>
					<div class="colwrapper-69-REGNEW">
						<div class="cont-132-REGNEW">
							<a class="button-4-REGNEW" href="index.html">Save</a>
						</div>
					</div>
				</div>
			</div>
		</div>
