
		<div class="section-2-REG">
			<div class="cont-86-REG">
				<div class="cont-87-REG">
					<div class="cont-88-REG">
						<div class="cont-89-REG"><p class="para-24-REG"><span class="font-27-REG">VENDOR</span><span class="font-28-REG">&nbsp;REGISTRATION</span></p></div>
					</div>
				</div>
				<div class="cont-90-REG">
					<div class="colwrapper-45-REG">
						<div class="cont-91-REG">
							<div class="cont-92-REG"><p class="para-25-REG"><span class="font-29-REG">Name:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-46-REG">
						<div class="cont-93-REG">
							<input type="text" name="text" class="input-21-REG">
						</div>
					</div>
					<div class="colwrapper-47-REG">
						<div class="cont-94-REG">
							<div class="cont-95-REG"><p class="para-26-REG"><span class="font-30-REG">Address:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-48-REG">
						<div class="cont-96-REG">
							<input type="text" name="text" class="input-22-REG">
						</div>
					</div>
				</div>
				<div class="cont-97-REG">
					<div class="colwrapper-49-REG">
						<div class="cont-98-REG">
							<div class="cont-99-REG"><p class="para-27-REG"><span class="font-31-REG">Account #:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-50-REG">
						<div class="cont-100-REG">
							<input type="text" name="text" class="input-23-REG">
						</div>
					</div>
					<div class="colwrapper-51-REG">
						<div class="cont-101-REG"></div>
					</div>
					<div class="colwrapper-52-REG">
						<div class="cont-102-REG">
							<div class="cont-103-REG"><p class="para-28-REG"><span class="font-32-REG">State:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-53-REG">
						<div class="cont-104-REG">
							<input type="text" name="text" class="input-24-REG">
						</div>
					</div>
				</div>
				<div class="cont-105-REG">
					<div class="colwrapper-54-REG">
						<div class="cont-106-REG">
							<div class="cont-107-REG"><p class="para-29-REG"><span class="font-33-REG">Contact</span></p></div>
						</div>
					</div>
					<div class="colwrapper-55-REG">
						<div class="cont-108-REG">
							<input type="text" name="text" class="input-25-REG">
						</div>
					</div>
					<div class="colwrapper-56-REG">
						<div class="cont-109-REG">
							<div class="cont-110-REG"><p class="para-30-REG"><span class="font-34-REG">Country:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-57-REG">
						<div class="cont-111-REG">
							<input type="text" name="text" class="input-26-REG">
						</div>
					</div>
				</div>
				<div class="cont-112-REG">
					<div class="colwrapper-58-REG">
						<div class="cont-113-REG">
							<div class="cont-114-REG"><p class="para-31-REG"><span class="font-35-REG">TEL:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-59-REG">
						<div class="cont-115-REG">
							<input type="text" name="text" class="input-27-REG">
						</div>
					</div>
					<div class="colwrapper-60-REG">
						<div class="cont-116-REG">
							<div class="cont-117-REG"><p class="para-32-REG"><span class="font-36-REG">Zip Code:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-61-REG">
						<div class="cont-118-REG">
							<input type="text" name="text" class="input-28-REG">
						</div>
					</div>
				</div>
				<div class="cont-119-REG">
					<div class="colwrapper-62-REG">
						<div class="cont-120-REG">
							<div class="cont-121-REG"><p class="para-33-REG"><span class="font-37-REG">CEL:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-63-REG">
						<div class="cont-122-REG">
							<input type="text" name="text" class="input-29-REG">
						</div>
					</div>
					<div class="colwrapper-64-REG">
						<div class="cont-123-REG">
							<div class="cont-124-REG"><p class="para-34-REG"><span class="font-38-REG">Website:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-65-REG">
						<div class="cont-125-REG">
							<input type="text" name="text" class="input-30-REG">
						</div>
					</div>
				</div>
				<div class="cont-126-REG">
					<div class="colwrapper-66-REG">
						<div class="cont-127-REG">
							<div class="cont-128-REG"><p class="para-35-REG"><span class="font-39-REG">Email:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-67-REG">
						<div class="cont-129-REG">
							<input type="text" name="text" class="input-31-REG">
						</div>
					</div>
				</div>
				<div class="cont-130-REG">
					<div class="colwrapper-68-REG">
						<div class="cont-131-REG">
							<a class="button-3-REG" href="index.html">Cancel</a>
						</div>
					</div>
					<div class="colwrapper-69-REG">
						<div class="cont-132-REG">
							<a class="button-4-REG" href="index.html">Save</a>
						</div>
					</div>
				</div>
			</div>
		</div>
