
		<div class="section-REGNEW">
			<div class="cont-REGNEW">
				<div class="colwrapper-REGNEW">
					<div class="cont-2-REGNEW">
						<div class="cont-3-REGNEW">
							<div class="cont-4-REGNEW">
								<div class="cont-5-REGNEW"><p class="para-REGNEW"><span class="font-REGNEW">CLIENT REGNEWISTRATION</span></p></div>
							</div>
						</div>
						<div class="cont-6-REGNEW">
							<div class="colwrapper-2-REGNEW">
								<div class="cont-7-REGNEW">
									<div class="cont-8-REGNEW"><p class="para-2-REGNEW"><span class="font-2-REGNEW">Full Name:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-3-REGNEW">
								<div class="cont-9-REGNEW">
									<input type="text" name="text" class="input-REGNEW">
								</div>
							</div>
							<div class="colwrapper-4-REGNEW">
								<div class="cont-10-REGNEW">
									<div class="cont-11-REGNEW"><p class="para-3-REGNEW"><span class="font-3-REGNEW">Address:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-5-REGNEW">
								<div class="cont-12-REGNEW">
									<input type="text" name="text" class="input-2-REGNEW">
								</div>
							</div>
						</div>
						<div class="cont-13-REGNEW">
							<div class="colwrapper-6-REGNEW">
								<div class="cont-14-REGNEW">
									<div class="cont-15-REGNEW"><p class="para-4-REGNEW"><span class="font-4-REGNEW">Account #:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-7-REGNEW">
								<div class="cont-16-REGNEW">
									<input type="text" name="text" class="input-3-REGNEW">
								</div>
							</div>
							<div class="colwrapper-8-REGNEW">
								<div class="cont-17-REGNEW"></div>
							</div>
							<div class="colwrapper-9-REGNEW">
								<div class="cont-18-REGNEW">
									<div class="cont-19-REGNEW"><p class="para-5-REGNEW"><span class="font-5-REGNEW">State:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-10-REGNEW">
								<div class="cont-20-REGNEW">
									<input type="text" name="text" class="input-4-REGNEW">
								</div>
							</div>
						</div>
						<div class="cont-21-REGNEW">
							<div class="colwrapper-11-REGNEW">
								<div class="cont-22-REGNEW">
									<div class="cont-23-REGNEW"><p class="para-6-REGNEW"><span class="font-6-REGNEW">ID</span><span class="font-7-REGNEW">:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-12-REGNEW">
								<div class="cont-24-REGNEW">
									<input type="text" name="text" class="input-5-REGNEW">
								</div>
							</div>
							<div class="colwrapper-13-REGNEW">
								<div class="cont-25-REGNEW">
									<div class="cont-26-REGNEW"><p class="para-7-REGNEW"><span class="font-8-REGNEW">Country</span><span class="font-9-REGNEW">:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-14-REGNEW">
								<div class="cont-27-REGNEW">
									<input type="text" name="text" class="input-6-REGNEW">
								</div>
							</div>
						</div>
						<div class="cont-28-REGNEW">
							<div class="colwrapper-15-REGNEW">
								<div class="cont-29-REGNEW">
									<div class="cont-30-REGNEW"><p class="para-8-REGNEW"><span class="font-10-REGNEW">TEL:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-16-REGNEW">
								<div class="cont-31-REGNEW">
									<input type="text" name="text" class="input-7-REGNEW">
								</div>
							</div>
							<div class="colwrapper-17-REGNEW">
								<div class="cont-32-REGNEW">
									<div class="cont-33-REGNEW"><p class="para-9-REGNEW"><span class="font-11-REGNEW">Zip Code</span><span class="font-12-REGNEW">:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-18-REGNEW">
								<div class="cont-34-REGNEW">
									<input type="text" name="text" class="input-8-REGNEW">
								</div>
							</div>
						</div>
						<div class="cont-35-REGNEW">
							<div class="colwrapper-19-REGNEW">
								<div class="cont-36-REGNEW">
									<div class="cont-37-REGNEW"><p class="para-10-REGNEW"><span class="font-13-REGNEW">CEL:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-20-REGNEW">
								<div class="cont-38-REGNEW">
									<input type="text" name="text" class="input-9-REGNEW">
								</div>
							</div>
							<div class="colwrapper-21-REGNEW">
								<div class="cont-39-REGNEW">
									<input type="text" name="text" class="input-10-REGNEW">
								</div>
							</div>
							<div class="colwrapper-22-REGNEW">
								<div class="cont-40-REGNEW">
									<div class="cont-41-REGNEW"><p class="para-11-REGNEW"><span class="font-14-REGNEW">Shipper</span></p></div>
								</div>
							</div>
							<div class="colwrapper-23-REGNEW">
								<div class="cont-42-REGNEW">
									<input type="text" name="text" class="input-11-REGNEW">
								</div>
							</div>
							<div class="colwrapper-24-REGNEW">
								<div class="cont-43-REGNEW">
									<div class="cont-44-REGNEW"><p class="para-12-REGNEW"><span class="font-15-REGNEW">Consignee</span></p></div>
								</div>
							</div>
						</div>
						<div class="cont-45-REGNEW">
							<div class="colwrapper-25-REGNEW">
								<div class="cont-46-REGNEW">
									<div class="cont-47-REGNEW"><p class="para-13-REGNEW"><span class="font-16-REGNEW">Email:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-26-REGNEW">
								<div class="cont-48-REGNEW">
									<input type="text" name="text" class="input-12-REGNEW">
								</div>
							</div>
							<div class="colwrapper-27-REGNEW">
								<div class="cont-49-REGNEW">
									<div class="cont-50-REGNEW"><p class="para-14-REGNEW"><span class="font-17-REGNEW">Add Consignee</span></p></div>
								</div>
							</div>
						</div>
						<div class="cont-51-REGNEW">
							<div class="colwrapper-28-REGNEW">
								<div class="cont-52-REGNEW">
									<a class="button-REGNEW" href="index.html">Cancel</a>
								</div>
							</div>
							<div class="colwrapper-29-REGNEW">
								<div class="cont-53-REGNEW">
									<a class="button-2-REGNEW" href="index.html">Save</a>
								</div>
							</div>
						</div>
					</div>
					<div class="cont-54-REGNEW">
						<div class="cont-55-REGNEW">
							<div class="cont-56-REGNEW"><p class="para-15-REGNEW"><span class="font-18-REGNEW">Consignee Information:</span></p></div>
						</div>
						<div class="cont-57-REGNEW">
							<div class="colwrapper-30-REGNEW">
								<div class="cont-58-REGNEW">
									<div class="cont-59-REGNEW"><p class="para-16-REGNEW"><span class="font-19-REGNEW">Full Name:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-31-REGNEW">
								<div class="cont-60-REGNEW">
									<input type="text" name="text" class="input-13-REGNEW">
								</div>
							</div>
							<div class="colwrapper-32-REGNEW">
								<div class="cont-61-REGNEW">
									<div class="cont-62-REGNEW"><p class="para-17-REGNEW"><span class="font-20-REGNEW">Address:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-33-REGNEW">
								<div class="cont-63-REGNEW">
									<input type="text" name="text" class="input-14-REGNEW">
								</div>
							</div>
						</div>
						<div class="cont-64-REGNEW">
							<div class="colwrapper-34-REGNEW">
								<div class="cont-65-REGNEW">
									<div class="cont-66-REGNEW"><p class="para-18-REGNEW"><span class="font-21-REGNEW">TEL:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-35-REGNEW">
								<div class="cont-67-REGNEW">
									<input type="text" name="text" class="input-15-REGNEW">
								</div>
							</div>
							<div class="colwrapper-36-REGNEW">
								<div class="cont-68-REGNEW">
									<input type="text" name="text" class="input-16-REGNEW">
								</div>
							</div>
						</div>
						<div class="cont-69-REGNEW">
							<div class="colwrapper-37-REGNEW">
								<div class="cont-70-REGNEW">
									<div class="cont-71-REGNEW"><p class="para-19-REGNEW"><span class="font-22-REGNEW">CEL:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-38-REGNEW">
								<div class="cont-72-REGNEW">
									<input type="text" name="text" class="input-17-REGNEW">
								</div>
							</div>
							<div class="colwrapper-39-REGNEW">
								<div class="cont-73-REGNEW">
									<div class="cont-74-REGNEW"><p class="para-20-REGNEW"><span class="font-23-REGNEW">State:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-40-REGNEW">
								<div class="cont-75-REGNEW">
									<input type="text" name="text" class="input-18-REGNEW">
								</div>
							</div>
						</div>
						<div class="cont-76-REGNEW">
							<div class="colwrapper-41-REGNEW">
								<div class="cont-77-REGNEW">
									<div class="cont-78-REGNEW"><p class="para-21-REGNEW"><span class="font-24-REGNEW">Country:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-42-REGNEW">
								<div class="cont-79-REGNEW">
									<input type="text" name="text" class="input-19-REGNEW">
								</div>
							</div>
						</div>
						<div class="cont-80-REGNEW">
							<div class="colwrapper-43-REGNEW">
								<div class="cont-81-REGNEW">
									<div class="cont-82-REGNEW"><p class="para-22-REGNEW"><span class="font-25-REGNEW">Zip Code:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-44-REGNEW">
								<div class="cont-83-REGNEW">
									<input type="text" name="text" class="input-20-REGNEW">
								</div>
							</div>
						</div>
						<div class="cont-84-REGNEW">
							<div class="cont-85-REGNEW"><p class="para-23-REGNEW"><span class="font-26-REGNEW">Add Consignee</span></p></div>
						</div>
					</div>
				</div>
			</div>
        </div>
