
		<div class="section-REG">
			<div class="cont-REG">
				<div class="colwrapper-REG">
					<div class="cont-2-REG">
						<div class="cont-3-REG">
							<div class="cont-4-REG">
								<div class="cont-5-REG"><p class="para-REG"><span class="font-REG">CLIENT REGISTRATION</span></p></div>
							</div>
						</div>
						<div class="cont-6-REG">
							<div class="colwrapper-2-REG">
								<div class="cont-7-REG">
									<div class="cont-8-REG"><p class="para-2-REG"><span class="font-2-REG">Full Name:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-3-REG">
								<div class="cont-9-REG">
									<input type="text" name="text" id="RegStoreFullName" class="input-REG">
								</div>
							</div>
							<!--<div class="colwrapper-4-REG">-->
								<div class="cont-10-REG">
									<div class="cont-11-REG"><p class="para-3-REG"><span class="font-3-REG">Address:</span></p></div>
								</div>
							<!--</div>-->
							<div class="colwrapper-5-REG">
								<div class="cont-12-REG">
									<input type="text" name="text" id="RegStoreAddress" class="input-2-REG">
								</div>
							</div>
						</div>
						<div class="cont-13-REG">
							<div class="colwrapper-6-REG">
								<div class="cont-14-REG">
									<div class="cont-15-REG"><p class="para-4-REG"><span class="font-4-REG">Account #:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-7-REG">
								<div class="cont-16-REG">
									<input type="text" name="text" id="RegStoreAccount" class="input-3-REG">
								</div>
							</div>
							<div class="colwrapper-9-REG">
								<div class="cont-18-REG">
									<div class="cont-19-REG"><p class="para-5-REG"><span class="font-5-REG">State:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-10-REG">
								<div class="cont-20-REG">
									<input type="text" name="text" id="RegStoreState" class="input-4-REG">
								</div>
							</div>
						</div>
						<div class="cont-21-REG">
							<div class="colwrapper-11-REG">
								<div class="cont-22-REG">
									<div class="cont-23-REG"><p class="para-6-REG"><span class="font-6-REG">ID</span><span class="font-7-REG">:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-12-REG">
								<div class="cont-24-REG">
									<input type="text" name="text" id="RegStoreID" class="input-5-REG">
								</div>
							</div>
							<div class="colwrapper-13-REG">
								<div class="cont-25-REG">
									<div class="cont-26-REG"><p class="para-7-REG"><span class="font-8-REG">Country</span><span class="font-9-REG">:</span></p></div>
								</div>
							</div>
                            <input type="text" name="text" id="RegStoreCountry" >
						</div>
						<div class="cont-28-REG">
							<div class="colwrapper-15-REG">
								<div class="cont-29-REG">
									<div class="cont-30-REG"><p class="para-8-REG"><span class="font-10-REG">TEL:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-16-REG">
								<div class="cont-31-REG">
									<input type="text" name="text" id="RegStoreTel" class="input-7-REG">
								</div>
							</div>
							<div class="colwrapper-17-REG">
								<div class="cont-32-REG">
									<div class="cont-33-REG"><p class="para-9-REG"><span class="font-11-REG">Zip Code</span><span class="font-12-REG">:</span></p></div>
								</div>
							</div>
                            <input type="text" name="text" id="RegStoreZip">
						</div>
						<div class="cont-35-REG">
							<div class="colwrapper-19-REG">
								<div class="cont-36-REG">
									<div class="cont-37-REG"><p class="para-10-REG"><span class="font-13-REG">CEL:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-20-REG">
								<div class="cont-38-REG">
									<input type="text" name="text" id="RegStoreCel" class="input-9-REG">
								</div>
							</div>
                            <input type="checkbox" name="text" id="RegStoreSHIP" class="input-10-REG">
							<div class="colwrapper-22-REG">
								<div class="cont-40-REG">
									<div class="cont-41-REG"><p class="para-11-REG"><span class="font-14-REG">Shipper</span></p></div>
								</div>
							</div>
                            <input type="checkbox" name="text" id="RegStoreCONS">
							<div class="colwrapper-24-REG">
								<div class="cont-43-REG">
									<div class="cont-44-REG"><p class="para-12-REG"><span class="font-15-REG">Consignee</span></p></div>
								</div>
							</div>
						</div>
						<div class="cont-45-REG">
							<div class="colwrapper-25-REG">
								<div class="cont-46-REG">
									<div class="cont-47-REG"><p class="para-13-REG"><span class="font-16-REG">Email:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-26-REG">
								<div class="cont-48-REG">
									<input type="text" name="text" id="RegStoreEmail" class="input-12-REG">
								</div>
							</div>
                            
								
                                
						</div>
                        
                        <ul id="lst_consignees">
                        </ul>
                        
						<div class="cont-51-REG">
							<div class="colwrapper-28-REG">
								<div class="cont-52-REG">
									<a class="button-REG" id="btn_cancelConsignee">Cancel</a>
								</div>
							</div>
							<div class="colwrapper-29-REG">
								<div class="cont-53-REG">
									<a class="button-2-REG" id="btn_regConsignee">Save</a>
								</div>
							</div>
						</div>
					</div>
					<div class="cont-54-REG">
						<div class="cont-55-REG">
							<div class="cont-56-REG"><p class="para-15-REG"><span class="font-18-REG">Consignee Information:</span></p></div>
						</div>
						<div class="cont-57-REG">
							<div class="colwrapper-30-REG">
								<div class="cont-58-REG">
									<div class="cont-59-REG"><p class="para-16-REG"><span class="font-19-REG">Full Name:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-31-REG">
								<div class="cont-60-REG">
									<input type="text" name="text" id="FullnameMainClient" class="input-13-REG">
								</div>
							</div>
							<div class="colwrapper-32-REG">
								<div class="cont-61-REG">
									<div class="cont-62-REG"><p class="para-17-REG"><span class="font-20-REG">Address:</span></p></div>
								</div>
							</div>
									<input type="text" name="text" id="AddressMainClient">
						</div>
						<div class="cont-64-REG">
							<div class="colwrapper-34-REG">
								<div class="cont-65-REG">
									<div class="cont-66-REG"><p class="para-18-REG"><span class="font-21-REG">TEL:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-35-REG">
								<div class="cont-67-REG">
									<input type="text" name="text" id="TelMainClient" class="input-15-REG">
								</div>
							</div>
                                    
						</div>
						<div class="cont-69-REG">
							<div class="colwrapper-37-REG">
								<div class="cont-70-REG">
									<div class="cont-71-REG"><p class="para-19-REG"><span class="font-22-REG">CEL:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-38-REG">
								<div class="cont-72-REG">
									<input type="text" name="text" id="CelMainClient" class="input-17-REG">
								</div>
							</div>
							<div class="colwrapper-39-REG">
								<div class="cont-73-REG">
									<div class="cont-74-REG"><p class="para-20-REG"><span class="font-23-REG">State:</span></p></div>
								</div>
							</div>
									
                            <input type="text" name="text" id="StateMainClient">
                                    
						</div>
						<div class="cont-76-REG">
							<div class="colwrapper-41-REG">
								<div class="cont-77-REG">
									<div class="cont-78-REG"><p class="para-21-REG"><span class="font-24-REG">Country:</span></p></div>
								</div>
							</div>
                            
									<input type="text" name="text" id="CountryMainClient">
                                    
						</div>
						<div class="cont-80-REG">
							<div class="colwrapper-43-REG">
								<div class="cont-81-REG">
									<div class="cont-82-REG"><p class="para-22-REG"><span class="font-25-REG">Zip Code:</span></p></div>
								</div>
							</div>
                            
                            <input type="text" name="text" id="ZipMainClient">
                                    
						</div>
                            
                        <div ><span id="btn_addconsignee" class="pure-button pure-button-primary">Add Consignee</span></div>
                            
					</div>
				</div>
			</div>
        </div>
        
        <table border=0 style="width:100%; height:400;">
                <tr>
                    <td width=150><span class="font-24-REG">Full Name:</td><td></span> <input type="text"></td>
                    <td><span class="font-24-REG">Address:</td><td></span> <input type="text"></td>
                </tr>
                <tr>
                    <td><span class="font-24-REG">Account #:</td><td></span> <input type="text"></td>
                    <td><span class="font-24-REG">State:</td><td></span> <input type="text"></td>
                </tr>
                <tr>
                    <td><span class="font-24-REG">ID:</td><td></span> <input type="text"></td>
                    <td><span class="font-24-REG">Country:</td><td></span> <input type="text"></td>
                </tr>
                <tr>
                    <td><span class="font-24-REG">Tel:</td><td></span> <input type="text"></td>
                    <td><span class="font-24-REG">Zip code:</td><td></span> <input type="text"></td>
                </tr>
                <tr>
                    <td><span class="font-24-REG">Cel:</td><td></span> <input type="text"></td>
                    <td colspan="2"><input type="checkbox"> Shipper <input type="checkbox"> Consignee</td>
                </tr>
                <tr>
                    <td><span class="font-24-REG">Email:</td><td></span> <input type="text"></td>
                </tr>
        </table>
        
        <script>
        
        var consignees = [];
        
        $("#btn_addconsignee").click(function(){
                
                /* VALIDAR CAMPOS VALIDOS */
                if($("#FullnameMainClient").val() == "")
                {
                    alert("You must specify the Name of this consignee");
                    return;
                }
                
                var Clients = Parse.Object.extend("Clients");
                var client = new Clients();
                
                client.set("Name", $("#FullnameMainClient").val() );
                client.set("Address", $("#AddressMainClient").val() );
                client.set("Telephone", $("#TelMainClient").val() );
                /*client.set("Telephone2", $("#Tel2MainClient").val() );*/
                client.set("Cellphone", $("#CelMainClient").val() );
                client.set("State", $("#StateMainClient").val() );
                client.set("Country", $("#CountryMainClient").val() );
                client.set("Zip", $("#ZipMainClient").val() );
                client.set("Company", user.get("Company") );
                
                consignees.push(client);
                
                $("#lst_consignees").append("<li>"+ $("#FullnameMainClient").val() +"</li>");
                
                /* LIMPIAR CONTROLES */
                $("#FullnameMainClient").val("");
                $("#AddressMainClient").val("");
                $("#TelMainClient").val("");
                
                $("#CelMainClient").val("");
                $("#StateMainClient").val("");
                $("#CountryMainClient").val("");
                $("#ZipMainClient").val("");
            });
        
        $("#btn_cancelConsignee").click(function(){
                hideClient();
            });
        
        $("#btn_regConsignee").click(function(){
                
                /* VALIDAR CAMPOS VALIDOS */
                if($("#RegStoreFullName").val() == "")
                {
                    alert("You must specify the Name of this consignee");
                    return;
                }
                
                var Clients = Parse.Object.extend("Clients");
                var client = new Clients();
                
                client.set("Name", $("#RegStoreFullName").val() );
                client.set("Address", $("#RegStoreAddress").val() );
                client.set("Account", $("#RegStoreAccount").val() );
                client.set("AccountID", $("#RegStoreID").val() );
                client.set("Telephone", $("#RegStoreTel").val() );
                client.set("Cellphone", $("#RegStoreCel").val() );
                client.set("State", $("#RegStoreState").val() );
                client.set("Country", $("#RegStoreCountry").val() );
                client.set("Zip", $("#RegStoreZip").val() );
                client.set("IsShipper", $("#RegStoreSHIP").is(':checked') );
                client.set("IsConsignee", $("#RegStoreCONS").is(':checked') );
                client.set("Company", user.get("Company") );
                   
                client.save({success: function(client){
                        
                        for(i in consignees)
                        {
                            consignees[i].set("MainClient", client);
                        }
                        
                        /* SAVE THE SUBCONSIGNEES */
                        Parse.Object.saveAll(consignees,{success:function(){
                        
                                $("#Consignee").val(client.get("Name") );
                                        
                                consigneeEmail = client.get("Email");

                                fillDestinations(client.id);
                                
                                $("#clientNameInfo").html(client.get("Name") );
                                $("#clientAccount").html(client.get("AccountID") ); 
                                $("#clientCountryInfo").html(client.get("Country") );
                                $("#clientEmailInfo").html(client.get("Email") );
                                $("#clientTelephoneInfo").html(client.get("Telephone"));
                                $("#clientIDInfo").html(client.get("ID1") );
                                $("#clientStatusInfo").html(client.get("Status") );
                                
                                hideClient();
                                
                                /* LIMPIAR CONTROLES */
                                $("#RegStoreFullName").val("");
                                $("#RegStoreAddress").val("");
                                $("#RegStoreAccount").val("");
                                $("#RegStoreID").val("");
                                $("#RegStoreTel").val("");
                                $("#RegStoreCel").val("");
                                $("#RegStoreState").val("");
                                $("#RegStoreCountry").val("");
                                $("#RegStoreZip").val("");
                                $("#RegStoreCountry").val("");
                            }});
                        
                    }, error:function(){
                        alert("Error guardando");
                    }});
                    
            });
        
        </script>
